@page
@model sswa.Areas.Linux.Pages.IndexModel  
@{
	ViewData["Title"] = "Linux";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p><a href="Linux/WSL">Windows Subsystem for Linux</a></p>
<p><a href="Linux/PuppyLinuxInstall">Installing Puppy Linux to a Dedicated Partition</a></p>
<p><a href="Linux/Unix">Unix/Linux Resources</a></p>
