@page
@model sswa.Areas.MFC.Pages.IndexModel  
@{
	ViewData["Title"] = "MFC";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p>Beginner <a href="MFC/CFileSkeleton">CFile class</a> sample to read a file</p>
<p>Beginner <a href="MFC/CListCtrlForBeginners">CListCtrl</a></p>
<br>

<p><a href="MFC/UDPSendReceive">UDP Send and Receive Using CAsyncSocket</a></p>
<p><a href="MFC/RegisteredMessages">Using Registered Message Ids</a></p>
<p><a href="MFC/PopUpFrameWindow">Pop-Up Frame Window</a></p>
<p><a href="MFC/ModelessDialogs">Modeless Dialogs</a></p>
<p><a href="MFC/MFCWithoutAppWizard">Creating an MFC Application Without the AppWizard</a></p>
<p><a href="MFC/IdleProcessing">Idle-time Processing</a></p>
<p><a href="MFC/FormViewView">Creating a CFormView View</a></p>

<p><a href="MFC/FormattedMessageBox">Formatted MessageBox</a></p>
<p><a href="MFC/Events">Events for Threads</a></p>
<p><a href="MFC/CTabCtrl">Creating Tab Controls Using CTabCtrl</a></p>
<p><a href="MFC/ControlResize">Adjusting Control Size by Text Size</a></p>
<p><a href="MFC/ChangeTitle">Changing a MFC Frame Window Title</a></p>
<p><a href="MFC/CAsyncSocketUDPReceive">Receiving UDP Using CAsyncSocket</a></p>
