@page
@model sswa.Areas.CSharp.Pages.IndexModel 
@{
	ViewData["Title"] = "C#";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p><a href="CSharp/BeginningXAML">Beginning XAML</a></p>
<p><a href="CSharp/DetectingApplicationIdle">Detecting When an Application Has Been Idle</a></p>
<p><a href="CSharp/CreatingGridsWithEvenly_SizedColumns">Creating Grids With Evenly-Sized Columns</a></p>
<p><a href="CSharp/ClickingAButtonInAnotherApplication">Clicking a Button in Another Application</a></p>
<p><a href="CSharp/ProcessingFoldersIteratively">Processing Folders Iteratively</a></p>
