@page
@model sswa.Areas.Windows.Pages.IndexModel  
@{
	ViewData["Title"] = "Windows";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p><a href="Windows/End_of_Line">End-of-Line</a> Characters for beginners</p>
<p><a href="Windows/ShellDocumentView">The Shell Document Object and Control Library</a></p>
<p><a href="Windows/WaitableTimers">WaitableTimers</a></p>
<p><a href="Windows/TaskbarStatusIcon">Taskbar Status Area Icons</a></p>
<p><a href="Windows/SignalsHandler">Console Signals Handler</a></p>
<p><a href="Windows/PostThreadMessage">PostThreadMessage to Console Application</a></p>
<p><a href="Windows/ConsoleTimer">Console Timer</a></p>
<p><a href="Windows/EnumWindows">EnumWindows</a></p>
<p><a href="Windows/COMRegistry">Sample of the Registry Entries for a Simple COM Object</a></p>
