@page
@model sswa.Areas.Miscellaneous.Pages.IndexModel  
@{
	ViewData["Title"] = "Miscellaneous";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p><a href="Miscellaneous/CGI">CGI</a></p>
<p><a href="Miscellaneous/HTMLHistory">HTML History</a></p>
<p><a href="Miscellaneous/Overwriting">Overwriting</a></p>
<p><a href="Miscellaneous/PeskyBugs">Pesky Bugs</a></p>
<p><a href="Miscellaneous/RetrievingHierarchicallyRecursiveDataIteratively">Retrieving Hierarchically Recursive Data Iteratively</a></p>
<p><a href="Miscellaneous/WhatIsCMS">What Is CMS</a></p>
