@page
@model sswa.Areas.Miscellaneous.Pages.OverwritingModel
@{
	ViewData["Title"] = "Overwriting";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p>I see the term &quot;overwrite&quot; often used when the term &quot;override&quot; should be 
used. I noticed that Germans do that. After seeing many occurrences of 
that, I  tried at least once to tell 
someone that &quot;overwrite&quot; is incorrect but then that person insisted it is correct. So 
I sent a message to <a href="http://josuttis.de">Nicolai M. Josuttis</a> asking 
if I was correct that Germans often use &quot;overwrite&quot; incorrectly. The 
following is his response (used by permission):</p>
<p style="margin-left: 20; margin-right: 20"><i>Yes overwriting and overriding can mean the same
in German. One reason is that the German term

for overriding in C++ is &quot;überschreiben&quot; which is
the literal translation of &quot;overwriting&quot;
(probably caused by some historic sloppy first translation, or however foreign terms are created).
In fact, one of my books which currently gets translated
into English by a professional translation company did
contain the same mistake.</i></p>
<p>The following are my definitions of the English words &quot;<i>overwrite</i>&quot; 
and &quot;<i>override</i>&quot;:</p>
<dl>
  <dt><i>Overwrite</i></dt>
  <dd>To replace something with something else such that the original does not 
  exist</dd>
  <dt><i>Override</i></dt>
  <dd>To use something instead of something else, such that the original 
  continues to exist for use when not overridden</dd>
</dl>
