@page
@model sswa.Areas.Data.Pages.IndexModel 
@{
	ViewData["Title"] = "Data";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p><a href="Data/CreatingHierarchicallyRecursiveTable">Creating a Hierarchically Recursive Table</a></p>
