@page
@model IndexModel
@{
    ViewData["Title"] = "Sam's Simple Samples";
}

<div class="text-center">
<h1 class="display-4">Sam's Simple Samples</h1>
</div>

<p>My original intent here was to provide simple samples that are easier to
	understand than the complete working program samples typical of the MSDN,
	but I have put a variety of other stuff here too. Originally most of the
	material here used C++ and Windows but there is a variety of other stuff
	too. I do prefer to keep things simple and that can be especially helpful
	for samples. Please do not call this site Simple Sam's Samples, however.
	This web site is the result of my assistance in a various forums.</p>

<p>I have submitted two articles to the <a href="http://www.codeguru.com/">CodeGuru</a> web site. 
They are a sample
<a href="http://www.codeguru.com/bitmap/SimpleBMPViewer.shtml">Simple BMP
Viewer</a> and <a href="http://www.codeguru.com/dialog/KeyMessages.html">
Processing Keyboard Messages</a>; both use MFC.</p>

<p>I have 25 articles in the<a href="http://www.c-sharpcorner.com"> C# Corner</a> 
web site at <a href="http://www.c-sharpcorner.com/members/sam-hobbs/articles">
Sam Hobbs's Articles</a> about C# programming and some other subjects.</p>

<p>You can contact me by sending a message to the Webmaster @@ this domain, where this domain is SimpleSamples.Info.</p>
