@page
@model sswa.Areas.CPlusPlus.Pages.IndexModel 
@{
ViewData["Title"] = "C++";
}

<div class="text-center">
<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p><a href="CPlusPlus/PausingConsoleProgram">Pausing a Console Program</a></p>
<p><a href="CPlusPlus/CreatingStaticLibrary">Creating a Static Library</a></p>
<p><a href="CPlusPlus/Flex">Flex</a>, for generating a syntactic analyzer, such as for a compiler</p>
